
.display-word {
  position: absolute;
  left: 600px;
  top: 200px;
  white-space: nowrap;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.display-char {
  position: relative;
  display: block;
  margin: 0 5px;
  border: 1px solid #344054;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backface-visibility: hidden;
  transition: 0.7s;
}
.display-char::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 47px;
  height: 47px;
  z-index: -1;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: 0.7s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.display-char.hidden {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.display-char.hidden::after {
  border: 1px solid #344054;
  /* z-index: -1; */
  transform: rotateY(180deg);
}
.display-char.choosen {
  transform: rotateY(0deg) translateY(-50%);
}
.display-char.choosen::after {
  left: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
}
.display-char.hidden.choosen {
  transform: rotateY(180deg) translateY(-50%);
}

.alphabet {
  position: absolute;
  left: 600px;
  top: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 885px;
}

.alphabet-btn {
  position: relative;
  margin: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.alphabet-btn:hover {
  background-color: #eee;
}

.alphabet-btn span{
  position: absolute;
  width: 40px;
  height: 40px;
  top: -1px;
  left: -1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.alphabet-btn .wrong {
  background-color: #e74d3c96;
  color: #E74C3C;
  border: 1px solid #E74C3C;
  z-index: -1;
}
.alphabet-btn .right {
  background-color: #2ecc7084;
  color: #2ECC71;
  border: 1px solid #2ECC71;
  z-index: -1;
}

.alphabet-btn.false .wrong {
  z-index: 1;
}
.alphabet-btn.true .right {
  z-index: 1;
}



.hangman {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1024px;
  width: 500px;
}

.hangman-piece {
  position: fixed;
}

.platform {
  top: 781px;
  left: 270px;
  width: 2px;
  height: 500px;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: border-color 0.3s ease;
}

.stand {
  top: 409px;
  left: 89px;
  width: 2px;
  height: 745px;
  transform: translate(-50%, -50%);
}

.top {
  top: 37px;
  left: 194.5px;
  width: 2px;
  height: 213px;
  transform: translate(-50%, -50%) rotate(90deg);
}

.rope-top {
  top: 100px;
  left: 300px;
  width: 2px;
  height: 124px;
  transform: translate(-50%, -50%);
}

.rope-head {
  top: 230px;
  left: 300px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
}

.head {
  top: 230px;
  left: 300px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
}

.body {
  top: 465px;
  left: 300px;
  width: 2px;
  height: 330px;
  transform: translate(-50%, -50%);
}

.left-arm {
  top: 330px;
  left: 390px;
  width: 140px;
  height: 2px;
  transform: translate(-150%, -50%) rotate(45deg);
}

.right-arm {
  top: 330px;
  left: 210px;
  width: 140px;
  height: 2px;
  transform: translate(50%, -50%) rotate(-45deg);
}

.left-leg {
  top: 679px;
  left: 390px;
  width: 140px;
  height: 2px;
  transform: translate(-150%, -50%) rotate(-45deg);
}

.right-leg {
  top: 679px;
  left: 210px;
  width: 140px;
  height: 2px;
  transform: translate(50%, -50%) rotate(45deg);
}

.hangman-piece.show {
  background-color: #344054;
} 

.rope-head.show{
  border: 2px solid #344054;
  background-color: rgba(255, 255, 255, 0);
}
.head.show{
  border: 2px solid #344054;
  background-color: rgba(255, 255, 255, 0);
}

.current-score {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;

}

.score-container {
  position: fixed;
  width: 356px;
  height: 40px;
  background: #215ABD;
  border-radius: 20px;
  left: 1000px;
  top: 30px;
}

.score {
  position: absolute;
  left: 94%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-weight: 400;
  font-size: 17px;
  color: #000000;
  background-color: white;
  border-radius: 50px;
  padding: 5px 0 0 12px;
  width: 35px;
  height: 35px;
}

.guesses-left {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;

}

.guess-info {
  position: fixed;
  width: 356px;
  height: 40px;
  background: #215ABD;
  border-radius: 20px;
  left: 600px;
  top: 30px;
}

.guesses-count {
  position: absolute;
  left: 94%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-weight: 400;
  font-size: 17px;
  color: #000000;
  background-color: white;
  border-radius: 50px;
  padding: 5px 0 0 12px;
  width: 35px;
  height: 35px;
}

.game-over{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  font-size: 24px;
}

.game-over-restart {
  width: 500px;
  height: 60px;
  background: #215ABD;
  border-radius: 30px;
  color: white;
}
.game-over-go-back {
  width: 500px;
  height: 60px;
  color: #215ABD;
  background-color: #fff;
  border: 2px solid #215ABD;
  border-radius: 30px;
  margin-top: 40px;
}
.game-over-go-back:hover {
  outline: 2px solid #215abd4c;
}

.game-over-score-container{
  position: relative;
  width: 356px;
  height: 50px;
  background: #344054;
  border-radius: 25px;
  margin: 20px;
}

.game-over-score-text {
  color: white;
  padding-left: 20px;
  padding-top: 5px;
}

.game-over-score {
  position: absolute;
  right: 2px;
  top: 2px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  background-color: white;
  border-radius: 22.5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}