
.blurred-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9px);
  transition: 0.7s;
  max-height: 100vh;
  overflow-y: hidden;
}

.blurred-screen.hide {
  transform: translateY(-100%);
}

.new-game {
  position: absolute;
  width: 30%;
  height: 7%;
  left: 22.5%;
  top: 25%;
  background: #215ABD;
  border-radius: 30px;
}

.new-game:hover {
  cursor: pointer;
  background-color: #346ac8;
}

.new-game-text {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #FFFFFF;  
}

.play-friends-text {
  position: absolute;
  left: 30%;
  top: 38%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;  
}

.create-session1 {
  position: absolute;
  width: 30%;
  height: 50px;
  left: 22.5%;
  top: 43%;
  background: #215ABD;
  border-radius: 30px;
}

.create-session1:hover {
  cursor: pointer;
  background-color: #346ac8;
}

.create-session-text {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #FFFFFF;  
}

.session-input {
  position: absolute;
  width: 25%;
  height: 7%;
  left: 22.5%;
  top: 54%;
  background: #FFFFFF;
  border-radius: 30px 0px 0px 30px;
  border: none;
  outline: none;
  font-size: 22px;
  padding-left: 20px;
}

.session-join {
  position: absolute;
  width: 5%;
  height: 7%;
  left: 47.5%;
  top: 54%;
  background: #215ABD;
  border-radius: 0px 30px 30px 0px;
}

.session-join:hover {
  cursor: pointer;
  background-color: #346ac8;
}

.session-join-text {
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #FFFFFF;
}

.leaderboard {
  z-index: 2;
  position: relative;
  width: 25%;
  height: 100vh;
  left: calc(100%);
  transform: translate(-100%,0%);
  top: 0px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  transition: 0.7s;
  max-height: 100vh;
}

.leaderboard.hide {
  transform: translate(-100%,100%);
}

.leaderboard-header {
  position: relative;
  height: 60px;
  width: 100%;
}

.leaderboard-text {
  position: absolute;
  left: 29%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
  color: #000000;
}

.leaderboard .user {
  position: relative;
  width: 320px;
  height: 40px;
  background: #344054;
  border-radius: 20px;
}

.placement-background {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -0.5px;
  border-radius: 20px;
  background: white;
}

.placement-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
}

.username-text {
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}

.score-text {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}

.logged-in-user {
  position: absolute;
  width: 95%;
  height: 8%;
  left: 2.5%;
  bottom: 2.5%;
  background: #FFFFFF;
  border-radius: 40px;
}

.logged-in-user:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}

.logged-in-user .user-text {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translateY(-75%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.logged-in-user .user-email {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translateY(-0%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.logged-in-user .logout-icon {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  display: flex;
}